<div class="ginput_container" id="{{ field_id }}">
	<label>
		<input type="radio" id="{{ field_id }}_yes" name="input_{{ id }}" value="ja">
		Ja
	</label>
	<br>
	<label>
		<input type="radio" id="{{ field_id }}_no" name="input_{{ id }}" value="nej">
		Nej
	</label>
</div>