
<div class="sk-category-menu || js-megamenu">
	<div class="sk-category-menu__container || col-full">
		<ul class="sk-category-menu__top">
			{% for category in categories %}
				<li>
					<a 
						href="{{ category.link }}"
						:class="activeTab === {{ category.id }} ? 'active' : null" 
						@mouseover="activeTab = {{ category.id }}">
							{{ category.name }}
					</a>
				</li>
			{% endfor %}
		</ul>


		{% for category in categories %}
			<div class="sk-category-menu__sub" v-if="activeTab === {{ category.id }}">
				{% if category.children %}
						{% for cat in category.children %}
							<div>
								<h3><a href="{{ cat.link }}">{{ cat.name }}</a></h3>
								{% if cat.children %}
									<ul>
										{% for cat in category.children %}
											<li>
												<a class="" href="{{ cat.link }}">{{ cat.name }}</a>
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							</div>
						{% endfor %}

				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
